RewriteEngine On
RewriteCond %{HTTP_HOST} avalon\.enterprises [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://avalon.enterprises/$1 [R,L]

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ ^$1 [N]

RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
RewriteRule ^(.*)$ public/$1 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ server.php

RewriteCond % http://avalon.enterprises
# RewriteRule ^(.*)$ https://www.stmcorporate.group/crm/admin/login [L,R=301]

